body {
	text-align: center;
	background-color: bisque;
}

div {
	margin: 10px;
	width: 48%;
}
button{
	width: 80%;
	margin-top: 10px;
}
#showParagraph1 , #showParagraph2
{
margin: 10px;
width: 100%;
}